<h1><%= @user.email%></h1>
<div class="container">
    <strong>Files:</strong>
    <% if @attachments.present? %>
        <div class="row">
            <% @attachments.reverse.each do |attachment| %>
                <% attachment.files.each do |pic| %>
                    <div class="col-lg-4  mb-3">
                        <div class="card attach__card">
                            <div class="card-body">
                                <div class="item"><%=user_image_helper(pic)%> </div>
                                <div class="item video_div"> <%=user_video_helper(pic)%></div>
                                <div class="item"> <%=user_documents_helper(pic)%></div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>


    