<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <a href="<%=new_password_path(resource_name)%>" target="_blank" class="condition">
    Forget Password?
  </a>
<% end %>