<div class="department_form" id="department_form">
  <%= form_with(model: department) do |form| %>
    <% department.errors.full_messages.each do |message| %>
      <p class='text-danger user-error'><%= message %></p>
    <% end %>
    <div class="col-md-6 mb-3 justify-content-center">
      <label for="name" class="form-label">Name</label>
      <%= form.text_field :name, class: "form-control" %>
    </div>


    <div class="d-flex"> 
      <%= form.submit department.new_record? ? "Create " : "Update ", class:"btn addprojectbutton  " %>
    </div>
  <% end %>
</div>




