<div class="request_details" id="request_details">
  <%= render partial: "request", locals: {request: @request} %>

  <div class="mt-3">
    <%= link_to "Back to requests", requests_path, class: 'btn attachmentuploadbtn' %>
  </div>
</div>
