<div class="mt-5">
<section class="mb-5 pb-4">
    <div class="row ms-2 ms-lg-5 ps-3">
      <div class="col-md-6 col-lg-6 col-xl-4 mb-2">
        <div class="card fullleavecard">
          <div class="card-body">
            <div class="text-end">
              <img src="../../assets/icons/Group.svg" alt="" />
            </div>
            <div class="row">
              <div class="col-4">
                <p>Name:</p>
                <p>Permmissions:</p>
              </div>
              <div class="col-7">
              <p><%= @role.name%></p>
              <p><% @role.permissions&.each do |permission| %>
                 <%= permission.description %>
              <%end%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
</section>
</div>

<div class="col ms-2 ms-lg-5 ps-3">
   <%= link_to "Back to roles", roles_path, class: "btn attachmentuploadbtn" %>
</div>

