<div class="mt-5">
<section class="mb-5 pb-4">
    <div class="row ms-2 ms-lg-5 ps-3">
      <div class="col-md-6 col-lg-6 col-xl-4 mb-2">
        <div class="card fullleavecard">
          <div class="card-body">
            <div class="text-end">
              <img src="../../assets/icons/Group.svg" alt="" />
            </div>
            <div class="row">
              <div class="col-4">
                <p>Allowed Type:</p>
                <p>Allowed Days/hours:</p>
              </div>
              <div class="col-7">
              <p><%=apply_leave.allowed_leave_type%></p>
              <p><%= apply_leave.allowed_leave_type == "short" ? apply_leave.allowed_hours: apply_leave.allowed_day%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
</section>
</div>

