<h1>Welcome to isoftstudios private Limited</h1>

<p>
  <h3><%= @user_hr.full_name %>, has new active evaluations for you: </h3>
  <ul>
    <li><%= @active_evaluation.title.capitalize %></li>
  </ul>
</p>