<% if notice %>
    <div id="flash" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            <%= notice %>
        </div>
    </div>
<% elsif alert %>
    <div id="flash" class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            <%= alert %>
        </div>
    </div>
<% end %>


<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#flash').remove();
        }, 10000);
    })
</script>